@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Space Grotesk',sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --app-bg-color: rgb(0, 9, 32);
  --dark-app-bg-color: rgb(0, 8, 26);
}

.bg-color {
  background-color: var(--app-bg-color);
}

.hover-bg-color {
  background-color: var(--dark-app-bg-color);
}

.text-color {
  color: var(--app-bg-color);
}

.hover-text-color {
  color: var(--dark-app-bg-color);
}

input {
  @apply bg-transparent text-slate-700 w-full;
  outline: none;
}

input::placeholder {
  @apply text-slate-500
}

.app-container {
  @apply container mx-auto px-6;
}


.developer-drop-down-text:hover .developer-drop-down{
  height: auto;
  width: 400px;
  top: 8vh;
  left: 50%;
  text-align: left;
  position: absolute;
  display: block !important;
  transform: translate(-50%,0);
  animation: 0.3s fadeIn ease-in-out ;
}



.fadeIn {
  /* animation: 0.5s fadeIn ease-in-out; */
  opacity: 1;
}
.fadeOut {
  animation: 0.5s fadeOut ease-in-out ;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
 
}

