@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --app-bg-color: rgb(0, 8, 26);
}

.bg-color {
  background-color: var(--app-bg-color);
}
.text-color {
  color: var(--app-bg-color);
}

.app-container {
  @apply max-w-7xl mx-auto
}
