@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @apply text-slate-200 
}

:root {
  --app-bg-color: rgb(1, 17, 56);
  --dark-app-bg-color: rgb(0, 8, 26);
}

.bg-color {
  background-color: var(--app-bg-color);
}

.hover-bg-color {
  background-color: var(--dark-app-bg-color);
}

.text-color {
  color: var(--app-bg-color);
}

.hover-text-color {
  color: var(--dark-app-bg-color);
}

.app-container {
  @apply max-w-7xl mx-auto
}
